<div class="login-bg">
  <div class="col-md-4 col-sm-4 text-l">




  </div>
  
  
  <div class="col-md-4 col-sm-4">
    <h1>Merchant Details</h1>
  </div>
  <div class="col-md-4 col-sm-4 text-r">
    <div class="btn-group" role="group" aria-label="...">
     <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       RO, Days Left:15
       <span class="caret"></span>
     </button>
     <ul class="dropdown-menu">
      <li><a href="#">LogOut</a></li>

    </ul>
  </div>
</div>
</div>
<div class="clearfix"></div>
</div>




<div class="container text-center  mar-top20">
  <div class="row">

    <div class="col-sm-6 col-md-3 text-center mar-bott10  ">
      <div class="login-title2">SESSION 20 OV<br>
        <p><span>100|100</span>
      </div>
    </div>


    <div class=" col-sm-6  col-md-6  text-center ">
      <div class="login-title1"> 1Run</div>
    </div>


    <div class="col-sm-6  col-md-3  text-center  ">
      <div class="login-title3">&nbsp; &nbsp;SL&nbsp;<span>0.00</span> <img src="images/face.png" width="20" alt="">
        <p> BAL <span>0.00</span> <img src="images/face.png" width="20" alt="">
      </div>
    </div>

  </div>
</div>






<div class="container text-center  mar-top10">
  <div class="row">
    <div class="col-md-12">
      <div class="login-title4">New Zealand v South Africa (3rd Test) - 03:30 Match Odds</div>

    </div>

  </div>
</div>

<div id="target">

  <div class="container text-center  mar-top10">
    <div class="row">
      <div class="col-xs-12 col-sn-6 col-md-4">
        <div style="position:absolute; right:0px; top:-8px; z-index:523"><a href="#" class="hilang"><img src="images/cl-button.png" width="20"></a></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th width="75%" class="tablbg">TEAMS</th>
              <th width="13%" class="tablbg">BACK</th>
              <th width="12%" class="tablbg">LAY</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="tablbg">Bangladesh U23</th>
              <th scope="row" class="info"><strong>1.26</strong><br>
                10 </th>
                <td class="info" ><strong>1.26</strong><br>
                  10</td>
                </tr>
                <tr>
                  <th scope="row" class="tablbg">Bangladesh U23</th>
                  <th scope="row" class="info"><strong>1.26</strong><br>
                    10 </th>
                    <td class="info" ><strong>1.26</strong><br>
                      10</td>
                    </tr>
                  </tbody>
                </table>
                
                 <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="10%" class="tablbg">TEAMS </th>
                      <th width="90%" class="tablbg">RUNS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="tablbg">LAMBI</th>
                      <td class="info" >West Indies Runs (20 Overs) </td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <div class="col-xs-12 col-sn-6 col-md-4">
                <div style="position:absolute; right:0px; top:-8px; z-index:523"><a href="#" class="hilang"><img src="images/cl-button.png" width="20"></a></div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="75%" class="tablbg">TEAMS</th>
                      <th width="13%" class="tablbg">BACK</th>
                      <th width="12%" class="tablbg">LAY</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" class="tablbg">Bangladesh U23</th>
                      <th scope="row" class="info"><strong>1.26</strong><br>
                        10 </th>
                        <td class="info" ><strong>1.26</strong><br>
                          10</td>
                        </tr>
                        <tr>
                          <th scope="row" class="tablbg">Bangladesh U23</th>
                          <th scope="row" class="info"><strong>1.26</strong><br>
                            10 </th>
                            <td class="info" ><strong>1.26</strong><br>
                              10</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th width="10%" class="tablbg">TEAMS </th>
                              <th width="90%" class="tablbg">RUNS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row" class="tablbg">LAMBI</th>
                              <td class="info" >West Indies Runs (20 Overs) </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>

                      <div class="col-xs-12 col-sn-6 col-md-4">
                        <div style="position:absolute; right:0px; top:-8px; z-index:523"><a href="#" class="hilang"><img src="images/cl-button.png" width="20"></a></div>
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th width="75%" class="tablbg">TEAMS</th>
                              <th width="13%" class="tablbg">BACK</th>
                              <th width="12%" class="tablbg">LAY</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row" class="tablbg">Bangladesh U23</th>
                              <th scope="row" class="info"><strong>1.26</strong><br>
                                10 </th>
                                <td class="info" ><strong>1.26</strong><br>
                                  10</td>
                                </tr>
                                <tr>
                                  <th scope="row" class="tablbg">Bangladesh U23</th>
                                  <th scope="row" class="info"><strong>1.26</strong><br>
                                    10 </th>
                                    <td class="info" ><strong>1.26</strong><br>
                                      10</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th width="10%" class="tablbg">TEAMS </th>
                                      <th width="90%" class="tablbg">RUNS</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row" class="tablbg">LAMBI</th>
                                      <td class="info" >West Indies Runs (20 Overs) </td>
                                    </tr>
                                  </tbody>
                                </table>

                              </div>

                            </div>
                          </div>
                        </div>





                        <div class="match-bg mar-bott30 mar-top20">
                          <div class="container   ">
                            <div class="row">
                              <form>
                                <div class="col-md-2 col-sm-2">
                                  <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Rate">
                                  </div>
                                </div>
                                <div class="col-md-2 col-sm-3">
                                  <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Amount">
                                  </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                  <div class="form-group">
                                    <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2 col-sm-3">
                                  <div class="form-group">
                                    <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                  <div class="form-group">
                                    <div class="set">Set Commission: </div>
                                    <div class="set1">
                                      <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>


                                <div class="clearfix"></div>
                                <div class="borderr"></div>

                                <div class="col-md-5 col-sm-6">
                                  <div class="form-group">
                                    <button type="button" class="btn btn-success okbutt">Ok</button>
                                    <button type="button" class="btn btn-success okbutt">Clear All</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>


                        <div class="table-section">
                          <div class="container  mar-bott30 mar-top20">
                            <div class="row">
                              <div class="bs-example" data-example-id="bordered-table">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th width="10%" class="tablbg">SL#</th>
                                      <th width="90%" class="tablbg">MATCHES  <div style="float:right"><a href="#"  class="linkcol"><span class="glyphicon glyphicon-refresh"></span></a></div> </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row" class="tablbg">1</th>
                                      <td class="info" ><a href="#" class="muncul" >Afghanistan v Ireland - 10:00 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">2</th>
                                      <td class="info"><a href="#" >Bangladesh U23 v Nepal - 08:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">3</th>
                                      <td class="info"><a href="#" >India B v Tamil Nadu - 09:00 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">4</th>
                                      <td class="info"><a href="#" >New Zealand v South Africa (3rd Test) - 03:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">5</th>
                                      <td class="success"><a href="#">Pakistan U23 v Hong Kong - 08:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">6</th>
                                      <td class="success"><a href="#">Sri Lanka U23 v Afghanistan - 08:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">7</th>
                                      <td class="success"><a href="#">Sri Lanka v Bangladesh (2nd ODI) - 14:30 Completed Match</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">8</th>
                                      <td class="success"><a href="#">Sri Lanka v Bangladesh (2nd ODI) - 14:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">9</th>
                                      <td class="success"><a href="#">Sri Lanka v Bangladesh (2nd ODI) - 14:30 Completed Match</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">10</th>
                                      <td class="success"><a href="#">Sri Lanka v Bangladesh (2nd ODI) - 14:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">11</th>
                                      <td class="danger"><a href="#">Afghanistan v Ireland - 10:00 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">12</th>
                                      <td class="danger"><a href="#">Bangladesh U23 v Nepal - 08:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">13</th>
                                      <td class="danger"><a href="#">India B v Tamil Nadu - 09:00 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">14</th>
                                      <td class="danger"><a href="#">New Zealand v South Africa (3rd Test) - 03:30 Match Odds</a></td>
                                    </tr>
                                    <tr>
                                      <th scope="row" class="tablbg">15</th>
                                      <td class="danger"><a href="#">Pakistan U23 v Hong Kong - 08:30 Match Odds</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
