
<div class="login-bg">
  <div class="col-md-4 col-sm-4 text-l"></div>
  <div class="col-md-4 col-sm-4">
    <h1>User Details</h1>
  </div>
  <div class="col-md-4 col-sm-4 text-r">
    <div class="btn-group" role="group" aria-label="...">
 <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     RO, Days Left:15
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">LogOut</a></li>
    
    </ul>
  </div>
</div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="match-bg mar-bott30 mar-top20">
  <div class="container   ">
    <div class="row">
      <form>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="User Nane:">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Password:">
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name:">
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mobile:">
          </div>
        </div>
        
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
             <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar">
         </i>
        </div>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
       </div>         
           <!--<input  type="date" class="form-control" id="exampleInputEmail1" placeholder="Expiry Date:">-->
          </div>
        </div>
        
        
        
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Status:">
          </div>
        </div>
        
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Role:">
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="checkbox">
            <label>
            <input type="checkbox">
            Allow Commenty </label>
          </div>
        </div>
        
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
          
          
            <button type="button" class="btn btn-success okbutt">Submit</button>
            <button type="button" class="btn btn-success okbutt">Reset</button>
            
            
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>


<div class="table-section1">
  <div class="container  mar-bott30 mar-top20">
    <div class="row">
 <div class="col-md-12">
    
      <div class="table-responsive">
        <table  class="table table-bordered table-hover">
          <thead>
            <tr>
              <th width="3%" class="tablbg text-center">ID </th>
              <th width="11%" class="tablbg text-center">User Name</th>
              <th width="14%" class="tablbg text-center">Password</th>
              <th width="18%" class="tablbg text-center">Register Date</th>
              <th width="9%" class="tablbg text-center">Days Left</th>
              <th width="10%" class="tablbg text-center">Allow</th>
              <th width="19%" class="tablbg text-center">Last Login Date Time</th>
              <th width="16%" class="tablbg text-center">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
            <tr>
              <td class="tablbg" >555</td>
              <td class="info" >Dev</td>
              <td class="info" >frg125v</td>
              <td class="info" >16/03/2019 12:30:20</td>
              <td class="info" >5</td>
              <td class="info" >false</td>
              <td class="info" >18/03/2017 12:30:20</td>
              <td class="info" ><a href="#">Update</a> &nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
