
<div class="login-bg">
  <div class="col-md-4 col-sm-4 text-l"></div>
  <div class="col-md-4 col-sm-4">
    <h1>User Management</h1>
  </div>
  <div class="col-md-4 col-sm-4 text-r">
    <div class="btn-group" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" (click)="showStyle = !showStyle;">
     {{loginData.name}}, Days Left:{{loginData.daysLeft}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" [style.display]="getStyle()">
      <li><a (click)="logout()">LogOut</a></li>
    </ul>
  </div>
</div>
  <!-- <ngb-dropdown [open]="isOpen">
    <button id="dropdown-button" class="btn btn-default dropdown-toggle" (click)="toggleLogoutDropdown()">
      RO, Days Left:15
      <span class="caret"></span>
    </button>
     <ngb-dropdown-menu aria-labelledby="dropdown-button">
      <ul class="dropdown-menu">
        <li><a href="#">LogOut</a></li>
      </ul>
     </ngb-dropdown-menu>
  </ngb-dropdown> -->

  </div>
  <div class="clearfix"></div>
</div>
<div class="match-bg mar-bott30 mar-top20">
  <div class="container   ">
    <div class="row">
      <form (ngSubmit)="submitUserForm()">
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" name="username" placeholder="Username" [(ngModel)]="user.username">
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" name="password" placeholder="Password">
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" name="name" placeholder="Name">
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" name="mobile" placeholder="Mobile">
          </div>
        </div>
        
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
             <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar">
         </i>
        </div>
        <input class="form-control" id="date" name="date" placeholder="ExpiryDate" name="expirydate"type="text"/>
       </div>         
           <!--<input  type="date" class="form-control" id="exampleInputEmail1" placeholder="Expiry Date:">-->
          </div>
        </div>
        
        
        
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <select name="status" class="form-control">
               <option>Status</option>
               <option value="1">InActive</option>
               <option value="0">Active</option>
            </select>
          </div>
        </div>
        
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <select name="role" class="form-control">
               <option>Role</option>
               <option value="1">Admin</option>
               <option value="2">Premium User</option>
               <option value="3">Free User</option>
            </select>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <select name="commentry" class="form-control">
               <option>Allow Commentry</option>
               <option value="1">Yes</option>
               <option value="0">No</option>
            </select>
          </div>
        </div>
        
        <div class="col-md-6 col-sm-6">
          <div class="form-group">
          
          
            <button type="submit" class="btn btn-success okbutt">Submit</button>
            <button type="reset" class="btn btn-success okbutt">Reset</button>
            
            
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>


<div class="table-section1">
  <div class="container  mar-bott30 mar-top20">
    <div class="row">
 <div class="col-md-12">
    
      <div class="table-responsive">
        <table  class="table table-bordered table-hover">
          <thead>
            <tr>
              <th width="3%" class="tablbg text-center">ID </th>
              <th width="11%" class="tablbg text-center">User Name</th>
              <th width="14%" class="tablbg text-center">Mobile</th>
              <th width="18%" class="tablbg text-center">Register Date</th>
              <th width="9%" class="tablbg text-center">Days Left</th>
              <th width="10%" class="tablbg text-center">Allow</th>
              <th width="19%" class="tablbg text-center">Expiry Date Time</th>
              <th width="16%" class="tablbg text-center">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userList">
              <td class="tablbg" >{{user.userId}}</td>
              <td class="info" >{{user.username}}</td>
              <td class="info" >{{user.mobile}}</td>
              <td class="info" >{{user.createdOn | date:'dd-MM-yyyy'}}</td>
              <td class="info" >{{user.daysLeft}}</td>
              <td class="info" >{{user.isCommentry ? "true":"false"}}</td>
              <td class="info" >{{user.expiryOn | date:'dd-MM-yyyy'}}</td>
              <td class="info" ><button (click)="updateUser(user)"></button>&nbsp;&nbsp; <a href="#">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
