
<div class="login-bg"><h1>Login</h1></div>
<div class="container text-center mar-bott30 mar-top50">



	<div class="col-md-offset-3 col-sm-offset-2 col-sm-8  col-md-6  text-center mar-bott30">

		<div class="login-box-bg">

			<div class="login-title-form">



				<form (ngSubmit)="submitComment()">
					<div class="form-group">

						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" [(ngModel)]="model.username" name="username">
					</div>
					<div class="form-group">

						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="model.password" name="password">
					</div>


					<p><button type="submit" class="btn btn-success sign-fo">Login</button>


					</p>

				</form>


			</div>
		</div>


	</div>

</div>

